
.scanerContainer {
    border: 10px;
}

.scanerContainer video {
    width: 100vw !important;
    height: 100vh !important;
    left: 0 !important;
    top: 0 !important;
    object-fit: cover !important;
}